
.gamemode{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    p:first-of-type{
        margin-right: 10px;
    }
    display: flex; 
    align-items: center;

}
.titleWrapper{
    width: 200px;
}

.descriptionWrapper{
    display: flex;
    align-items: center;
}

.duration{
    flex: 3
    // display: flex; 
    // align-items: center;
    // margin-left:auto; 
    // margin-right:30px; 
}

.creation{
    flex: 1
    // display: flex; 
    // align-items: center;
}

.chipwinlist{
    flex: 2;
    // display: flex; 
    // align-items: center;
    // margin-right:20px; 
}

.wrapper{
    width: 60vw;
}

.champion{
    border-radius: 50%;
    max-width: 40px;
    margin-right: 20px;
    margin-left: 0;
}

.wrapper {
    margin: 0px 0px 5px 0px;
}

.team1{
    flex: 1;
}
.team2 {
    flex: 1;
}

.participants {
    display: flex;
    justify-content: space-around;
    width: 70%;
}