.wrapper{
    margin-top: 30%;
    margin-left: 30%;
    width: 100%;
}

.winloose{
    display: flex;
    justify-content: center;
}
.rankIcon{
    width: 300px;
    justify-content: center;
}
.mat-card-avatar{
    height: 50px !important;
    width: 50px !important;
}
