<div class="wrapper">
    <div class="title">
        <h1>Summoner Stats</h1>
    </div>
    <div class="search">
        <mat-form-field appearance="outline">
            <mat-label>Summoner Name</mat-label>
            <input matInput (keyup.enter)="getSummoner()" [formControl]="summonerInput" [errorStateMatcher]="matcher" placeholder="Enter your summoner name">
            <mat-hint *ngIf="summonerInput.hasError('required') && !!summonerInput.touched">Please enter a Summoner Name</mat-hint>
            <mat-error *ngIf="summonerInput.hasError('incorrect')">Please enter a valid Summoner Name</mat-error>
        </mat-form-field>
        <button mat-button (click)="getSummoner()">search</button>
    </div>
</div>