.wrapper {
    background-image: url("/assets/data/background/bg1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    display: flex;
}

.summonerInformation {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;    
}

.summonerDescription {
    display: flex;
}

.summonerRank {
    display: flex;
}

.summonerChampions {
    display: flex;
}

.matchHistory {
    display: flex;
    flex: 2;
    margin-top: 10px;
}
